<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner</title>
    <meta name="author" content="Annie Pennell" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=BioRhyme&family=Space+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <header>
        <h1>Travel Planner</h1>
      </header>

      <main>
        <section>
          <h2>Add Trip</h2>
          <form>
            <div id="destination-field" class="form-field">
              <label for="destination-input">Destination</label>
              <input
                id="destination-input"
                type="text"
                placeholder="San Francisco, CA"
                required
              />
              <label for="destination-input" class="error hidden"></label>
            </div>
            <div id="departure-field" class="form-field">
              <label for="departure-input">Departure Date</label>
              <input
                id="departure-input"
                type="date"
                pattern="\d{1,2}/\d{1,2}/\d{4}"
                required
              />
              <label for="departure-input" class="error hidden"></label>
            </div>
            <button id="save-trip" type="submit">Save Trip</button>
            <label id="form-error" for="save-trip" class="error hidden"></label>
          </form>
        </section>

        <section id="trips">
          <h2>Saved Trips</h2>
        </section>
      </main>

      <footer>
        © <a href="https://github.com/apennell">Annie Pennell</a> 2020
      </footer>
    </div>
  </body>
</html>
