<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner</title>
    <meta name="author" content="Annie Pennell" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=BioRhyme&family=Space+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <header>
        <div class="container">
          <h1>Travel Planner</h1>
        </div>
      </header>

      <main>
        <section class="form-section">
          <div class="container">
            <h2>+ Add Trip</h2>
            <form>
              <div id="destination-field" class="form-field">
                <label for="destination-input">Destination</label>
                <input
                  id="destination-input"
                  type="text"
                  placeholder="San Francisco, CA"
                  required
                />
                <label for="destination-input" class="error hidden"></label>
              </div>
              <div id="departure-field" class="form-field">
                <label for="departure-input">Departure Date</label>
                <input
                  id="departure-input"
                  type="date"
                  pattern="\d{1,2}/\d{1,2}/\d{4}"
                  required
                />
                <label for="departure-input" class="error hidden"></label>
              </div>
              <button id="save-trip" type="submit">Save Trip</button>
              <label
                id="form-error"
                for="save-trip"
                class="error hidden"
              ></label>
            </form>
          </div>
        </section>

        <section id="trips">
          <div class="container">
            <h2>Saved Trips</h2>
          </div>
        </section>
      </main>

      <footer>
        <div class="container">
          © <a href="https://github.com/apennell">Annie Pennell</a> 2020
        </div>
      </footer>
    </div>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js').then(
            (registration) => {
              // Registration was successful
              console.log(
                'ServiceWorker registration successful with scope: ',
                registration.scope
              );
            },
            (err) => {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
            }
          );
        });
      }
    </script>
  </body>
</html>
