$primary-font: 'Montserrat', Helvetica, sans-serif;
$mono-font: 'Roboto Mono', monospace;

$primary-color: #3d0034;
$primary-color-light: #7a0068;
$secondary-color: #eb3333;
$secondary-color-light: #ef5b5b;
$tertiary-color: #20a39e;
$text-color: #404040;
$light-color: #fff1d0;
