$primary-font: 'Montserrat', Helvetica, sans-serif;
$mono-font: 'Roboto Mono', monospace;

$primary-color: #3b1f2b;
$primary-color-light: #ab5f80;
$secondary-color: #ed6a5a;
$secondary-color-dark: #e94a35;
$text-color: #0f1108;
$white: #fcfcfc;
