@import 'variables';

.form-section {
  background-color: $primary-color;

  h2 {
    color: $white;
  }
}

form {
  max-width: 500px;
  margin: 0 auto 4rem;
  font-size: 1.5rem;
  text-align: center;
  color: $white;
}

.form-field {
  margin-bottom: 2rem;
}

label {
  display: inline-block;
  color: $secondary-color;
  font-weight: 600;
}

input {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: $white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $secondary-color;

  &::placeholder {
    color: $white;
    opacity: 0.4;
  }
}

button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  font: 600 1rem $mono-font;
  color: $white;
  background: $secondary-color;
  border: 2px solid $white;
  border-radius: 2px;
  padding: 0.75em;
}

button:hover {
  background-color: $secondary-color-dark;
}

.error {
  margin-top: 0;
  color: $secondary-color-dark;
  font-size: 0.75rem;
  font-weight: 400;
}
